---
layout: default
---

<div class="header-bar">
  <img src="{{ site.baseurl }}/img/logo-solopress.svg" alt="{{ site.title }}" />
  <br/>
  <hr>
  <br/>
</div>

<p>Solo Press has been publishing poetry since 1966.  Its first magazine, <em>Café Solo</em>, was released by founder and publisher, Glenna Luschei in 1969.  Since then, Solo has gone on to publish four literary magazine series:  <em>Café Solo</em>, <em>Solo</em>, <em>Solo Café</em>, and <em>Solo Novo</em>. </p>


{% include project-list.html %}

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>
