<div class="book-list">
{% for project in site.books %}

{% if project.redirect %}
<div class="project">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ site.baseurl }}{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
            <h1>{{ project.title }}</h1>
            <p>{{ project.price }}</p>
        </a>

</div>
{% else %}

<div class="project">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ site.baseurl }}{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}
            <p><strong>{{ project.title }}</strong> <br />
              {{ project.price }}</p>
        </a>
</div>

{% endif %}

{% endfor %}
</div>
