$text-color: #333;
$accent-color: #13c9d1;
$background-color: #fff;

$text-color-dark: #fff;
$background-color-dark: #333;

$font-stack: 'Dosis', sans-serif;

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
