body.home {
	background-color: $background-color;

	p { color:$text-color; }

	#main p, #main h1 { padding:0 20px;  }

	h1, h2, h3 { text-align:center; }

	.discuss h1 { background:none; color:$text-color; border-bottom:1px solid #000; font-size:45px; }
	.book {
		.info {
			padding-top: 0px;
			margin-left: auto;
			margin-right: auto;
			&:nth-of-type(n+6) {
				display: none;
			}
			h1, h2 {
				background:none;
				color: $text-color;
			}
			.learnmore {
				text-align:center;
			}
		}
	}

	.ifwhen .ifwhen-logo { width:60%; margin:30px auto 40px; display:block; }
	.ifwhen p { width:80%; margin:20px auto; }
	.ifwhen-covers { text-align:center; }
	.ifwhen-covers img { max-width:33%; display:inline-block; float:left; margin-top:100px; }

	@media only screen and (max-width:720px) {
		.ifwhen-covers img { margin-top:20px; }
	}
}
