---
layout: default
---
<section class="book">
	<div class="row">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 info">
				<h1>{{ page.title }}</h1>
				<h2>by {{ page.author }}</h2>
				<div class="details">
          <p class="price">{{ page.price }}<br />
          <a class="perfundo__link button" href="#purchase-{{ page.id | slugify }}">Buy now <span class="fa fa-chevron-circle-right"></span></a></p>
          <p>{% if page.pages %}{{ page.pages }}, <br />{% endif %}Published {{ page.date | date: "%Y" }}</p>
        </div>
        <p>{{ page.description | markdownify }}</p>
      </div>

      <div class="perfundo">
        <div id="purchase-{{ page.id | slugify }}" class="perfundo__overlay bounceIn">
          <div class="perfundo__content perfundo__html pure-g">
            <h1 class="pure-u-1">Purchase <em>{{ page.title }}</em></h1>
            <div class="pure-u-1 pure-u-md-1-2">
              <p>{{ page.price }}</p>
              {% if page.paypal %}<p class="button button-paypal"><a href="{{ page.paypal }}">Buy now via PayPal <span class="fa fa-chevron-circle-right"></span></a></p>{% endif %}

              <!-- <p>
                <input id="email" type="text" class="input-text" placeholder="Pounce username" />
                <button class="button" href="javascript:jmpPurchase({{ page.title }})">Buy now via Pounce</a></button>
              </p> -->

              {% if page.amazon %}<p class="button button-amazon"><a href="{{ page.amazon }}">Learn more and purchase on Amazon <span class="fa fa-chevron-circle-right"></span></a></p>{% endif %}
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
              <img class="pure-img" src="{{ page.cover-img }}" alt="" />
            </div>
          </div>
          <a href="#" class="perfundo__close perfundo__control">Close</a>
        </div>
      </div>

			<div class="pure-u-1 pure-u-md-1-2 cover">
				<img class="pure-img" src="{{ page.cover-img }}" alt="" />
			</div>
		</div>
	</div>
</section>

<section class="book-details">
	<div class="row">
		<div class="pure-g">

			<div class="pure-u-lg-1 pure-u-sm-1">
				{{ page.content }}
			</div>
		</div>
	</div>
</section>


{% if page.news %}
  {% include news-{{ page.author | slugify }}.inc %}
{% endif %}

{% include 3-footer.inc %}
