---
layout: default
---
<section class="discuss">
    <div class="row">
        <h1>Toast</h1>
        <p>Lift your glasses to a poem from Solo Press</p>
    </div>
</section>


<section class="toast-section">
  <div class="row">
    <div class="pure-g">
      <div class="pure-u-lg-1-2 pure-u-sm-1">
        <table class="toast-list pure-table pure-table-horizontal">
          <thead class="toast-head">
            <th>Number</td>
            <th>Date</td>
            <th>Poet</td>
            <th>Title</td>
          </thead>

          {% for toast in site.toast reversed %}
          <tr class="toast-item">
            <td>Column {{ toast.number }}</td>
            <td>{{ toast.date | date: '%B %-d, %Y' }}</td>
            <td>{% if toast.poet %}{{ toast.poet }}{% endif %}</td>
            <td><a href="{{ toast.url | prepend: site.baseurl }}" class="block include-link">{{ toast.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="pure-u-lg-1-2 pure-u-sm-1">
        <p>Toast is a weekly email newsletter and yearly printed anthology.</p>
        <ul>
          <li><strong>Glenna Luschei</strong>, Abiding Publisher and Editor Emeritus</li>
          <li><strong>Benjamin Daniel Lawless</strong>, Editor in Chief</li>
          <li><strong>Tom Harrington</strong>, International Editor</li>
          <li><strong>Rena Ferro</strong>, Managing Editor</li>
        </ul>
      </div>
    </div>
  </div>
</section>


{% include 3-footer.inc %}
