---
layout: default
---
<section class="page-item">
  <div class="row">
    <div class="pure-g">
      <div class="pure-u-lg-1-2 pure-u-sm-1">
        <h1><em>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</em> by {{ page.poet }}</h1>
        <p class="post-meta">Column {{ page.number }}. {{ page.date | date: '%B %-d, %Y' }}. <br />Introduction by {{ page.author }}.<br />{% if page.image-caption %}{{ page.image-caption }}{% endif %}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pure-g">
      <div class="pure-u-lg-1-2 pure-u-sm-1">
        {{ page.description | markdownify }}
        <hr />
        {% if page.image %}
        <img src="{{ page.image }}" />
        {% endif %}
        {{ page.content }}
        <hr />
        <p class="post-meta">Poem copyright © {{ page.date | date: '%Y' }} by {{ page.poet }}. Poem printed by permission of {{ page.poet }}. <br />Introduction copyright © {{ page.date | date: '%Y' }} by Solo Press{% if page.author %}, written by {{ page.author }}{% endif %}.</p>
        <p class="post-meta">We are currently not accepting submissions.</p>
      </div>
      <div class="pure-u-lg-1-6"></div>
      <div class="pure-u-lg-1-3 pure-u-sm-1">
        {% include toast-info.inc %}
      </div>
    </div>
  </div>
</section>
{% include 3-footer.inc %}
